<ion-header class="header">
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid class="wrapper">
    <form [formGroup]="form" (ngSubmit)="changePass(form.value)">
      <p>Please!, insert your registered email and new password.</p>
      <ion-list class="list">
        <ion-item lines="none" class="item" mode="md">
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <ul class="validation-message" *ngIf="f.email.touched && f.email.errors || submitted && f.email.errors">
            <li *ngIf="f.email.errors.required">Email is required.</li>
            <li *ngIf="f.email.errors.pattern">Email is not valid.</li>
          </ul>
        </ion-item>
        <ion-item lines="none" class="item" mode="md">
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <ul class="validation-message" *ngIf="f.password.touched && f.password.errors || submitted && f.password.errors">
            <li *ngIf="f.password.errors.required">Password is required.</li>
            <li *ngIf="f.password.errors.minlength">Password must be at least 6 characters.</li>
          </ul>
        </ion-item>
        <ion-item lines="none" class="item" mode="md">
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
          <ul class="validation-message" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors || submitted && f.confirmPassword.errors">
            <li *ngIf="f.confirmPassword.errors.required">Confirm Password is required.</li>
            <li *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match.</li>
          </ul>
        </ion-item>
        <ion-button mode="ios" type="submit" expand="block" color="dark">Reset Password</ion-button>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
