.content {--background: var(--body-bg-light-color);
  .wrapper {padding: .75em;
    .products {
      .empty-notification {display: grid; justify-items: center; text-align: center;margin-top: 2vh;
        img {max-width: 120px; height: auto;z-index: 2}
        .text {font-size: 16px;font-weight: 600;letter-spacing: 0;}
        .text-des {font-size: 14px; color: #999; max-width: 80%; margin: .5em auto;}
        .button {width: 80%;}
        .text-more {color: #999;font-size: 11px;text-transform: capitalize;margin-top: .25em;}
      }
    }
  }
}